__pycache__/
.ipynb_checkpoints/
.jovianrc
jupyter_example.ipynb
._jupyter_example.ipynb
tickers/
.vscode/
*DS_Store
.idea/
database_real/
generate-training-data/
integrated-strategy/figures/
ML-model-input/
ML-model-output/
LSTM_results.csv
output/
*_output.csv
*_results.csv