__pycache__/
.ipynb_checkpoints/
.jovianrc
jupyter_example.ipynb
._jupyter_example.ipynb
tickers/
.vscode/
*DS_Store
.idea/
database_real/
generate-training-data/
integrated-strategy/figures/
LSTM_output_trend/
LSTM_output_abs-price/
LSTM_output_abs-price_*/
LSTM_output_price-only/
LSTM_*.csv
output/
baseline_wrapper_*.py
LSTM-train_price_only_wrapper_*.py
LSTM-train_wrapper_*.py
*baseline_results*.csv
*_output.csv
*_results.csv
saved_models/
*/integrated-strategy/main_order_stock.py
docs/build/