__pycache__/
.ipynb_checkpoints/
.jovianrc
jupyter_example.ipynb
._jupyter_example.ipynb
tickers/
.vscode/
*DS_Store
.idea/
database_real/
generate-training-data/
baseline_results.csv
LSTM_results.csv
ML-model-input/
ML-model-output/
*_output.csv