@import 'theme.css';
.wy-side-nav-search, .wy-nav-top {
    background-color: #ECEFF1;
}

nav {
    background-color: #37474F !important;
}

.wy-menu-vertical a:hover {
    background-color: #546E7A;
}

.wy-side-nav-search>a {
    color: #263238;
}